# fw_printenv and fw_setenv configuration
#
# This must match UBOOT_ENV_OFFSET/UBOOT_ENV_COUNT in
# fwup_include/fwup-common.conf (sector 8192 = 4 MB = 0x400000, 128 KB)
# and CONFIG_ENV_OFFSET/CONFIG_ENV_SIZE in uboot/fragment.config.

# Device name	Device offset	Env. size	Flash sector size	Number of sectors
/dev/mmcblk0	0x400000	0x20000		0x200			256
